body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  width: 100%;
}


.header {
  display: flex;
  align-items: center;
  padding-left: 128px;
  padding-right: 128px;
  height: 72px;
  justify-content: space-between;
  flex-shrink: 0;
  background: var(--brand-colors-moviebox-black, #000);
}

.header-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--brand-gradients-moviebox-primary, linear-gradient(274deg, #8a999e 11.27%, #95a2cf 36.72%, #e4bade 61.72%, #FFA9A4 82.79%, #FED2CE 107.29%, #99423a 107.29%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text span {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

ul {
  display: flex;
  gap: 16px;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  color: var(--brand-colors-moviebox-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  padding: 20px;
}

.footer {
  display: flex;
  color: white;
  height: 72px;
  padding: 10px 108px;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid var(--brand-colors-moviebox-highlight-50, #E0E0E0);
  background: var(--brand-colors-moviebox-black, #000);
}


.footer p {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.footer-brand-name {
  background: var(--brand-gradients-moviebox-primary, linear-gradient(274deg, #8a999e 11.27%, #95a2cf 36.72%, #e4bade 61.72%, #FFA9A4 82.79%, #FED2CE 107.29%, #99423a 107.29%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-text {
  color: var(--brand-colors-moviebox-gray, #6A6A6A);
  font-weight: 300;
}



.page-title-div {
  display: flex;
  margin-top: -20px;
  margin-bottom: -10px;
  height: 52px;
  padding: 20px 108px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--brand-colors-moviebox-highlight-50, #E0E0E0);
  }

.page-title {
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  display: flex;
  padding: 32px 108px;
  flex-direction: column;
  gap: 32px;
}

.section-title {
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -30px;
}

.section-subtitle {
  color: var(--brand-colors-moviebox-gray, #6A6A6A);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-head {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--brand-colors-moviebox-highlight-10, #F5F5F5);
}

.table-head-text {
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: red;
}

.table-row {
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
}


.avatar-div {
  width: 40px;
}

.tag {
  border-radius: 30px;
  padding: 6px;
  margin: 3px;
  background: var(--brand-shades-moviebox-liberty-10, #D1D8F7);
  color: var(--brand-shades-moviebox-liberty-75, #4755A8);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}