body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  width: 100%;
}


.header {
  display: flex;
  align-items: center;
  padding-left: 128px;
  padding-right: 128px;
  height: 72px;
  flex-shrink: 0;
  background: var(--brand-colors-moviebox-black, #000);
}

.header-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--brand-gradients-moviebox-primary, linear-gradient(274deg, #8a999e 11.27%, #95a2cf 36.72%, #e4bade 61.72%, #FFA9A4 82.79%, #FED2CE 107.29%, #99423a 107.29%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text span {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header-icons-and-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-avatar {
  width: 22px;
  height: 22px;
  border-radius: 100px;
}

.main-navbar {
  margin-left: 2%;
  margin-right: auto;
}

ul {
  display: flex;
  gap: 16px;
}

Navlink {
  cursor: pointer;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  color: var(--brand-colors-moviebox-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link-active {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #999daf;
}

main {
  padding: 20px;
}

.footer {
  display: flex;
  color: white;
  bottom: 0;
  height: 72px;
  padding: 10px 108px;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid var(--brand-colors-moviebox-highlight-50, #E0E0E0);
  background: var(--brand-colors-moviebox-black, #000);
}


.footer p {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.footer-brand-name {
  background: var(--brand-gradients-moviebox-primary, linear-gradient(274deg, #8a999e 11.27%, #95a2cf 36.72%, #e4bade 61.72%, #FFA9A4 82.79%, #FED2CE 107.29%, #99423a 107.29%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-text {
  color: var(--brand-colors-moviebox-gray, #6A6A6A);
  font-weight: 300;
}


.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #95a2cf;
  font-size: 50px;
  width: 35%;
  height: 250px;
  border: 1px solid #E0E0E0;
}


.view-button {
  display: flex;
  width: 100%;
  text-decoration: none;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #000;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--brand-colors-moviebox-highlight-50, #E0E0E0);
  background: var(--brand-colors-moviebox-white, #FFF);
  cursor: pointer;
}

.view-button:active {
  transform: scale(0.95);
}

.view-button-link {
   text-decoration: none;
}


.page-title-div {
  display: flex;
  margin-top: -20px;
  margin-bottom: -10px;
  height: 52px;
  padding: 20px 108px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--brand-colors-moviebox-highlight-50, #E0E0E0);
  }

.page-title {
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  display: flex;
  padding: 32px 108px;
  flex-direction: column;
  gap: 32px;
}

.section-title {
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -30px;
}

.audience-section-title, .average-watchtime-section-title{
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.average-watchtime-div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: 250px;
  border: 1px solid #E0E0E0; 
}

.user-charts-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.average-watchtime-section-title {
  margin-bottom: -10px;
}



.average-watchtime-section-subtitle {
  margin-bottom: -40px;
}

.section-subtitle, .average-watchtime-section-subtitle {
  color: var(--brand-colors-moviebox-gray, #6A6A6A);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.audience-section-subtitle {
  color: var(--brand-colors-moviebox-gray, #6A6A6A);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -15px;
  flex-shrink: 0;
}

.table-head {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--brand-colors-moviebox-highlight-10, #F5F5F5);
}

.table-head-text {
  color: var(--brand-colors-moviebox-black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: red;
}

.table-row {
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
}


.avatar-div {
  width: 40px;
}

.tag {
  border-radius: 30px;
  padding: 6px;
  margin: 3px;
  background: var(--brand-shades-moviebox-liberty-10, #D1D8F7);
  color: var(--brand-shades-moviebox-liberty-75, #4755A8);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.movies-nav {
  margin-bottom: -22px;
  border-bottom: 1px solid var(--brand-colors-moviebox-highlight-50, #E0E0E0);
}

.movies-nav ul{
  padding-left: 0;
}

.movies-nav-link {
  list-style: none;
  text-decoration: none;
  color: var(--brand-colors-moviebox-white, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies-nav-link-active {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #4755A8;
}

.movie-picture-and-info-grapics {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -60px;
}

.audience-infographics {
  display: flex;
  gap: 32px;
}



.audience-chart-div, .average-user-logins {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 220px;
  border: 1px solid #E0E0E0;
  margin-top: 20px;
}


.top-locations-div {
  width: 300px;
  height: 200px;
  padding-top: 20px;
  padding-left: 50px;
  margin-top: 10px;

}

.top-locations-data {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.top-locations-progress-value {
  width: 50px;
}
